[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
.vue-button {
   cursor: pointer;
}
.done-bar {
   transition: ease 0.2s all;
}
</style>


<div class="section" id="vue-target" v-cloak>
   
   <div v-if="task == null || user == null">
      <progress class="progress is-medium is-primary mx-6" max="100"></progress>
   </div>
   <div v-else>
      <div v-if="!editing_task" class="card">
         <h1 class="card-header-title">{{task.task_name}}</h1>
         <div class="card-content">{{task.desc}}</div>
         <div class="card-footer level">
            <div class="level-item">
               <!-- task done checkbox -->
               <i v-if="!task.done"
                  class="fa fa-fw fa-square-o is-size-4 m-3 check-box vue-button"
                  @click="set_task_done(true)"></i>
               <i v-else
                  class="fa fa-fw fa-check-square-o is-size-4 m-3 vue-button"
                  @click="set_task_done(false)"></i>
               <!-- task progress bar -->
               <progress class="m-3 progress done-bar is-primary" 
                  max="100" :value="task.done_percent"></progress>
               <div v-if="user.perms > 0">
                  <!-- task edit button -->
                  <i class="m-3 fa fa-fw fa-pencil-square-o 
                     has-text-warning is-size-4 vue-button"
                     @click="set_editing_task(true)"></i>
                  <!-- task delete button -->
                  <i class="fa fa-fw fa-trash is-size-4 m-3 has-text-danger vue-button"
                     @click="delete_task()"></i>
               </div>
            </div>
         </div>
      </div>

      <div v-else class="card mt-3">
         <!-- edit task form -->
         <div class="card-header">
            <div class="card-header-title">Edit a Task</div>
         </div>
         <div class="p-3 pt-5">
            <!-- edit form -->
            <div class="has-icons-right control">
               <input v-on:input="validate_edited_task"  
                  v-model="task_name"
                  placeholder="Task name"
                  type="text"
                  class="input"/>
               <span v-if="!edited_name_valid" class="icon is-small is-right">
                  <i class="fa fa-fw has-text-warning 
                  fa-exclamation-triangle"></i>
               </span>
               <span v-else class="icon is-small is-right">
                  <i class="fa fa-fw has-text-success
                  fa-check"></i>
               </span>
            </div>

            <div class="mt-3 has-icons-right control">
               <textarea v-on:input="validate_edited_task"  
                  v-model="task_desc" 
                  placeholder="Description"
                  class="textarea"></textarea>
               <span v-if="!edited_desc_valid" class="icon is-small is-right">
                  <i class="fa fa-fw has-text-warning 
                  fa-exclamation-triangle"></i>
               </span>
               <span v-else class="icon is-small is-right">
                  <i class="fa fa-fw has-text-success
                  fa-check"></i>
               </span>
            </div>

            <div class="mt-3 has-icons-right control">
               <input v-on:input="validate_edited_task" 
               v-model="task_duedate" 
               type="date"
               class="input" />
               <span v-if="!edited_duedate_valid" class="icon is-small is-right">
                  <i class="fa fa-fw has-text-warning 
                  fa-exclamation-triangle"></i>
               </span>
               <span v-else class="icon is-small is-right">
                  <i class="fa fa-fw has-text-success
                  fa-check"></i>
               </span>
            </div>

            <div>
            </div>

            <div v-if="warn_check_edit_inputs" 
               class="mt-2 level input-warning has-text-white has-background-danger">
               <div class="level-item">
                  <p>Check Inputs</p>
               </div>
            </div>

            <div class="level">
               <div class="level-left">
                  <div class="button has-background-success has-text-white mr-3 my-3"
                     @click="edit_task">
                     <i class="fa fa-fw fa-check"></i>
                  </div>
                  <div class="button has-background-danger has-text-white mr-3 my-3"
                     @click="cancel_editing_task">
                     <i class="fa fa-fw fa-times"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- list of subtasks -->
      <div v-for="subtask in subtasks" class="card mt-3">
         <div v-if="!subtask.editing">
            <div class="card-header-title">{{subtask.subtask_name}}</div>
            <div class="card-content">{{subtask.desc}}</div>
            <!-- done checkbox -->
            <div class="card-footer level">
               <i v-if="!subtask.done"
                  class="fa fa-fw fa-square-o is-size-4 m-3 check-box vue-button"
                  @click="set_subtask_done(subtask._idx, true)"></i>
               <i v-else
                  class="fa fa-fw fa-check-square-o is-size-4 m-3 vue-button"
                  @click="set_subtask_done(subtask._idx, false)"></i>
               <div>
                  <!-- subtask edit button -->
                  <i class="m-3 fa fa-fw fa-pencil-square-o 
                     has-text-warning is-size-4 vue-button"
                     @click="set_editing_subtask(subtask._idx, true)"></i>
                  <!-- subtask delete button -->
                  <i class="fa fa-fw fa-trash is-size-4 m-3 has-text-danger vue-button"
                     @click="delete_subtask(subtask._idx)"></i>
               </div>
            </div>
         </div>
         <div v-else>
            <!-- edit subtask form -->
            <div class="card-header">
               <div class="card-header-title">Edit a Subtask</div>
            </div>
            <div class="p-3 pt-5">
               <!-- edit form -->
               <div class="has-icons-right control">
                  <input v-on:input="validate_edited_subtask(subtask._idx)"  
                     v-model="subtasks[subtask._idx].edited_name"
                     placeholder="Task name"
                     type="text"
                     class="input"/>
                  <span v-if="!subtask.name_valid" class="icon is-small is-right">
                     <i class="fa fa-fw has-text-warning 
                     fa-exclamation-triangle"></i>
                  </span>
                  <span v-else class="icon is-small is-right">
                     <i class="fa fa-fw has-text-success
                     fa-check"></i>
                  </span>
               </div>

               <div class="mt-3 has-icons-right control">
                  <textarea v-on:input="validate_edited_subtask(subtask._idx)"  
                     v-model="subtasks[subtask._idx].edited_desc" 
                     placeholder="Description"
                     class="textarea"></textarea>
                  <span v-if="!subtask.desc_valid" class="icon is-small is-right">
                     <i class="fa fa-fw has-text-warning 
                     fa-exclamation-triangle"></i>
                  </span>
                  <span v-else class="icon is-small is-right">
                     <i class="fa fa-fw has-text-success
                     fa-check"></i>
                  </span>
               </div>

               <div class="mt-3 has-icons-right control">
                  <input v-on:input="validate_edited_subtask(subtask._idx)" 
                  v-model="subtasks[subtask._idx].edited_duedate" 
                  type="date"
                  class="input" />
                  <span v-if="!subtask.duedate_valid" class="icon is-small is-right">
                     <i class="fa fa-fw has-text-warning 
                     fa-exclamation-triangle"></i>
                  </span>
                  <span v-else class="icon is-small is-right">
                     <i class="fa fa-fw has-text-success
                     fa-check"></i>
                  </span>
               </div>

               <div>
               </div>

               <div v-if="subtask.warn_check_inputs" 
                  class="mt-2 level input-warning has-text-white has-background-danger">
                  <div class="level-item">
                     <p>Check Inputs</p>
                  </div>
               </div>

               <div class="level">
                  <div class="level-left">
                     <div class="button has-background-success has-text-white mr-3 my-3"
                        @click="edit_subtask(subtask._idx)">
                        <i class="fa fa-fw fa-check"></i>
                     </div>
                     <div class="button has-background-danger has-text-white mr-3 my-3"
                        @click="cancel_editing_subtask(subtask._idx)">
                        <i class="fa fa-fw fa-times"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- add subtask button -->
      <div v-if="!adding_subtask" 
         class="button has-background-success has-text-white mr-3 my-3"
         @click="set_adding_subtask(true)">
         <i class="fa fa-fw fa-plus"></i>
         Add Subtask
      </div>


      <div v-else class="card mt-3">
         <!-- add subtask form -->
         <div class="card-header">
            <div class="card-header-title">Add a Subtask</div>
         </div>
         <div class="p-3 pt-5">
            <!-- edit form -->
            <div class="has-icons-right control">
               <input v-on:input="validate_subtask"  
                  v-model="subtask_name" 
                  placeholder="Subtask name"
                  type="text"
                  class="input"/>
               <span v-if="!name_valid" class="icon is-small is-right">
                  <i class="fa fa-fw has-text-warning 
                  fa-exclamation-triangle"></i>
               </span>
               <span v-else class="icon is-small is-right">
                  <i class="fa fa-fw has-text-success
                  fa-check"></i>
               </span>
            </div>

            <!-- edit form -->
            <div class="mt-3 has-icons-right control">
               <textarea v-on:input="validate_subtask"  
                  v-model="subtask_desc" 
                  placeholder="Description"
                  class="textarea"></textarea>
               <span v-if="!desc_valid" class="icon is-small is-right">
                  <i class="fa fa-fw has-text-warning 
                  fa-exclamation-triangle"></i>
               </span>
               <span v-else class="icon is-small is-right">
                  <i class="fa fa-fw has-text-success
                  fa-check"></i>
               </span>
            </div>

            <div class="mt-3 has-icons-right control">
               <input v-on:input="validate_subtask" 
               v-model="subtask_duedate" 
               type="date"
               class="input" />
               <span v-if="!duedate_valid" class="icon is-small is-right">
                  <i class="fa fa-fw has-text-warning 
                  fa-exclamation-triangle"></i>
               </span>
               <span v-else class="icon is-small is-right">
                  <i class="fa fa-fw has-text-success
                  fa-check"></i>
               </span>
            </div>

            <div>
            </div>

            <div v-if="warn_check_inputs" 
               class="level input-warning has-text-white has-background-danger">
               <div class="level-item">
                  <p>Check Inputs</p>
               </div>
            </div>

            <div class="level">
               <div class="level-left">
                  <div class="button has-background-success has-text-white mr-3 my-3"
                     @click="submit_new_subtask">
                     <i class="fa fa-fw fa-check"></i>
                  </div>
                  <div class="button has-background-danger has-text-white mr-3 my-3"
                     @click="cancel_adding_subtask">
                     <i class="fa fa-fw fa-times"></i>
                  </div>
               </div>
            </div>

         </div>
      </div>

      <div class="mt-4 is-size-4 is-bold">Comments</div>
      <div v-if="!adding_comment"
         class="button has-background-info has-text-white mr-3 my-3"
         @click="set_adding_comment(true)">
         <i class="fa fa-fw fa-plus"></i>
      </div>

      <div v-else>
         <div class="mt-3 has-icons-right control">
            <textarea v-on:input="validate_comment"  
               v-model="comment_data" 
               placeholder="Description"
               class="textarea"></textarea>
            <span v-if="!comment_valid" class="icon is-small is-right">
               <i class="fa fa-fw has-text-warning 
               fa-exclamation-triangle"></i>
            </span>
            <span v-else class="icon is-small is-right">
               <i class="fa fa-fw has-text-success
               fa-check"></i>
            </span>
         </div>
         <div class="level">
            <div class="level-left">
               <div class="button has-background-success has-text-white mr-3 my-3"
                  @click="post_comment">
                  <i class="fa fa-fw fa-check"></i>
               </div>
               <div class="button has-background-danger has-text-white mr-3 my-3"
                  @click="cancel_adding_comment">
                  <i class="fa fa-fw fa-times"></i>
               </div>
            </div>
         </div>
      </div>

      <!-- the actual comments -->
      <div v-for="comment in comments"
         class="box mt-3">
         {{comment.data}}
         <div class="mt-2 level">
            <i class="level-item has-text-grey is-justify-content-flex-start">
               {{comment.name}}
            </i>
            <div class="level-item is-justify-content-flex-end">
               <!-- comment delete button -->
               <i v-if="user.id == comment.author"
                  class="fa fa-fw fa-trash is-size-5 m-3 has-text-danger vue-button"
                  @click="delete_comment(comment._idx)"></i>
            </div>
         </div>
      </div>

   </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
   let load_task_url = "[[=XML(load_task_url)]]";
   let add_subtask_url = "[[=XML(add_subtask_url)]]";
   let set_subtask_done_url = "[[=XML(set_subtask_done_url)]]";
   let task_done_percent_url = "[[=XML(task_done_percent_url)]]";
   let delete_subtask_url = "[[=XML(delete_subtask_url)]]";
   let edit_task_url = "[[=XML(edit_task_url)]]";
   let edit_subtask_url = "[[=XML(edit_subtask_url)]]";
   let set_task_done_url = "[[=XML(set_task_done_url)]]";
   let delete_task_url = "[[=XML(delete_task_url)]]";

   let project_url = "[[=XML(project_url)]]";
   let get_comments_url = "[[=XML(get_comments_url)]]";
   let post_comment_url = "[[=XML(post_comment_url)]]";
   let delete_comment_url = "[[=XML(delete_comment_url)]]";
   let get_user_info_url = "[[=XML(get_user_info_url)]]";
</script>
<script src="js/task.js"></script>
[[end]]
